body{
    width: 99%;
    background: #524D81;
}

h1, h2{
    font-family: 'Ubuntu', sans-serif;
    color: white
}
h3{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background: darkblue;
    width: 99%;
    padding: 10px;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
}
blockquote{
    color: white;
    font-family: 'Roboto Slab', serif;
}
.Tl{
    color: blue;
    
    padding: 5px 30px;
}


header{
    
    height: 120px;
    display: block;
    background: whitesmoke;
    font-family: 'Oswald', sans-serif
    
}
footer{
    clear: both;
    text-align: center;
    background: whitesmoke;
    
}
.ft{
    color: darkblue;
}
article{
    width: 61%;
    float: left;
    margin: 2%;
    
}
aside{
    width: 27%;
    margin: 3% 3%;
    float: right;
    background:  #F6A024;
    color: white;
}

#Logo{
    width: 100px;
    float: right;
    margin:17px 80px;
    
    
    
}
#Casa{
   
    width: 35px;

}
#libro{
    width: 200px;
    margin: 10px auto;
    display: block;
    

}
.Menu{
    margin: 3% ;
    height: 35px;
    
    display: block;
    
}
.Menu2{
    margin: 3%;
    text-align: center;
    
    height: 35px;
    
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;

}
.Menu li{

    display: inline;
    list-style: none;
    margin: 20px 40px;
    text-align: center;
    padding: 10px;
    color: darkblue;
    background: white;
    
    
    
    

}
.Menu2 li{

    display: inline;
    list-style: none;
    padding: 12px;
    margin: 5%;
    background: darkblue;
    color: white;
    border: solid 1px white;
    
    

}




.libro{
    width: 500px;
}
